@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <p>
                        24-hour News website is your source for up-to-date, reliable information on current events and
                        trending topics.
                        Take a deep dive into the stories that matter to you and join us in understanding what’s
                        happening in the world
                    </p>
                    <div class="outerBox">
                        <blockquote class="innerBlock">
                            We’ll take you there with AIDA:
                            <br>
                            ✅ Attention: Catchy headlines and in-depth reporting
                            <br>
                            ✅ Interest: Thoughtful analysis and conversation starters
                            <br>
                            ✅ Desire: Engaging visuals and multimedia features
                            <br>
                        </blockquote>
                    </div>
                    <h3>Attention, news seekers!</h3>
                    <p>
                        If you’re always on the hunt for up-to-date stories and reliable news sources, 24 News is the
                        place to be. Our 24/7 service brings you news from all angles and perspectives, so you can stay
                        in the know about all the latest happenings in the world.
                        <br>
                        Discover intriguing content such as:
                        <br>
                        ⁣⁣• Insightful opinion pieces
                        <br>
                        ⁣⁣• Investigative reports
                        <br>
                        ⁣⁣• Exclusive interviews with experts
                        <br>
                        ⁣⁣• Analyses of current events
                        <br>
                    </p>
                    <ul>
                        <li>Stay ahead of the game with 24-hour news coverage from our website! At 24 News, we're
                            committed to bringing you the latest headlines and news updates as they happen, so you're
                            always in the know.</li>
                        <li>Whether you're a night owl or an early bird, we've got you covered around the clock. From
                            breaking news to business updates, celebrity gossip to global events – we've got it all in
                            one place</li>
                    </ul>
                    <p>
                        Get your daily news fix now on 24 News! From business and politics, to sports and entertainment,
                        we’ve got you covered!

                        Are you looking to stay informed on the latest events? Then follow us for the most comprehensive
                        news and up-to-date information, as it happens.

                        Whether you’re a news junkie or just curious about current affairs, 24 News is your one-stop
                        shop for all the essential information.

                        ⁣⁣ So, what are you waiting for? Get your daily dose of news now!
                    </p>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"> </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4"> </div>
                        <div class="col-lg5">
                            <img src="~/images/latest-news-icon.png" height="300" width="300" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>